/* 2 */
div {
    height: 200px;
    width: 200px;
}

/* 3 */
#first {
    background-color: cadetblue;   
    /* 5 */
    padding: 20px;
    border: 10px solid black
}
#second {
    background-color: gold;
    /* 7 */
    border: solid black;
    border-width: 20px 10px;
    /* 9 */
    margin-left: 260px;
}
#third {
    background-color: indianred;
    /* 8 */
    border: 10px solid black;
    /* 9 */
    margin-left: 40px;
}

/* 6 */
p {
    margin: 0;
}



